body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  width: 100%;

  width: auto;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
h2,
h3 {
  color: #2e2f42;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-style-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-nav-item {
  display: flex;
  gap: 40px;
}

.header-list-item {
  padding: 24px 0;
}

.header-item-list {
  padding: 24px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-list:hover,
.header-item-list:focus {
  color: #404bbf;
}

.header-item-list.current {
  position: relative;
  color: #404bbf;
}
.header-item-list.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 4px;
  bottom: -1px;
  left: 0;
}
.header-address {
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav-address {
  display: flex;
  gap: 40px;
  margin: 0;
}
.header-address-li {
  display: flex;
  gap: 40px;
}
.address {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px auto;
}
.hero-btn {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.sec-strategy {
  padding: 120px 0;
}
.sec-strat-ul {
  display: flex;
  gap: 24px;
}
.sec-strat-li {
  width: calc((100% - 72px) / 4);
}
.sec-strat-name {
  margin-bottom: 8px;
}
.sec-our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.sec-our-ul {
  display: flex;
  gap: 24px;
}
.sec-our-li {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.sec-our-div {
  padding: 32px 0;
}
.sec-our-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.sec-our-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.socialmedia-instagram {
  border-radius: 50%;
  background-color: #404bbf;
  width: 40px;
  height: 40px;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.sec-portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
}
.sec-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.sec-portfolio-li {
  background-color: #ffffff;
  border-top: none;
  width: calc((100% - 48px) / 3);
}
.strange-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.sec-portfolio-name {
  margin-bottom: 8px;
}
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  padding-right: 76;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-style-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
